body{
  background-image: url(https://media.istockphoto.com/photos/floral-abstract-pastel-background-with-copy-space-picture-id901386524);
  background-repeat:repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the-p-div{
  padding:70px;
    background-color:rgba(255, 255, 255, 0.5);
    width:70%;
    border:1px solid purple;
    height:20vh;
}